<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peter Balzary</title>
</head>
<body>
    <h1>Restaurante Peter Balzary</h1>
    <h3>Que desea hacer?</h3>
    <button>
        <a href="{% url 'cargar_cocinero' %}">Registrarse como cocinero</a>
    </button>
    <button>
        <a href="{% url 'reservar_turno' %}">Reservar un turno</a>
    </button>
    <button>
        <a href="{% url 'hacer_comentario' %}">Hacer un Comentario</a>
    </button>
    <button>
        <a href="{% url 'buscar' %}">Buscar Cocinero</a>
    </button>
</body>
</html>